body {
  padding: 0;
    margin: 0;

}

.container {
    display: flex;
   
   
}

/* .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.left img {
    width: 100%;
   
}

.right {
  margin-left:  40px;
  margin-top: 50px;
}

h1, p {
    color: #2A4A5C;
}

.buttons button {
    display: inline-block;
    margin-right: 10px;
    background-color: #255A9B;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.buttons button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.separator {
  text-align: center;
  margin: 20px 0;
}

.separator hr {
  border: none;
  border-top: 1px solid #7B8A92;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.separator span {
  color: #7B8A92;
  display: inline-block;
}

input[type="email"], input[type="tel"] {
    width: calc(50% - 5px); /* Adjust width for two inputs */
    margin-bottom: 10px;
    padding: 10px;
}

.investor-type label {
    display: block;
    margin-bottom: 5px;
}

.agree-button {
    background-color: #3698FB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: underline;
}

.terms-link {
    color: #3698FB;
    text-decoration: none;
    margin-left: 10px;
}

.create-account-button {
    background-color: #0076B6;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
}
