@font-face {
  font-family: barlow;
  src: url("barlowsemicondensed-light.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  background-color: #eff6ff;
}
h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
}
p {
  
}
.container {
  display: flex;
  width: 100%;

}
.header {
      width: 50%;
  margin: 150px;
  padding-bottom: 10px;
}
.btn{  width:80%;
  height: 300px;
margin-top: 200px;
  border: none;
  font-size: 18px;
  background-color: #007bff;
}
.btn-1 {


 
}

